.ant-table-body {
  overflow-y: auto !important;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }
}

.noti-container {
  .ant-badge-count {
    top: $px5;
    right: $px5;
  }
  svg {
    width: $px30;
    height: $px30;
    path {
      fill: var(--colorHeader);
    }
  }
}

.header-avatar {
  width: $px45;
  height: $px45;
  line-height: $px45;
}
.header-language {
  width: $px45;
  height: $px45;
  line-height: $px45;
}

.header-language-dropdown-item {
  width: $px30;
  height: $px30;
  line-height: $px30;
  margin-right: $px20;
}

