
.dashboard-container {
    padding: $px16;
    background: #FFFFFF;
    box-shadow: 0 0 $px15 rgba(0, 0, 0, 0.1);
    border-radius: $px4;

    .content-title {
        color:var(--colorHeader);
        font-size: $px24;
        font-weight: bold;
        margin-bottom: $px16;
    }

    .ant-list-item {
        padding: $px12 0;
    }

    .ant-empty-1 {
        margin: $px20 $px8 !important
    }

    .circle {
        min-width: $px24;
        height: $px24;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $px16;
        border-radius: 50%;
        // color: $blue-600;
        color: blue;
        // background: $blue-100;
        background: blue;
    }

    .ant-typography {
        font-size: $px14;
        display: flex;
        align-items: center;
        color: red;
        // color: $indigo-600;

        svg path {
            fill: red;
            // fill: $indigo-600;
        }

        &:hover {
            // color: $blue-600;
            color: blue;

            svg path {
                // fill: $blue-600;
                fill: blue;
            }
        }

    }

    .ant-select-selector::before {
        align-self: center;
        margin-right: $px4;
    }

    .unit-selector {
        .ant-select-selector::before {
            content: 'Đơn vị :';
        }
    }

    .year-selector {
        .ant-select-selector::before {
            content: 'Năm ';
        }
    }

    .field-selector {

        // width: 150px;
        .ant-select-selector::before {
            content: 'Lĩnh vực :';
        }
    }

    .pie-chart {
        position: relative;
    }

    .bodyLengndChart {
        padding: 0 $px32;
    }

    .pie-chart-legend {
        display: flex;
        justify-content: center;

        .recharts-legend-wrapper {
            position: unset !important;
            bottom: 0;

            ul {
                margin-top: $px20;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                li {
                    width: 30%;
                    padding: 0 $px10;
                    margin: $px10 0px;
                }
            }
        }
    }

    .dashboard-tag-wrapper{
        height: 90%;
        svg{
            width: auto;
            height: $px30;
            path{
                fill: #808080;
            }
        }
        .title{
            color:var(--commonInputColor);
            margin: $px8 0;
            font-size: $px16;
            font-weight: bold;
        }
        .total{
            color:var(--colorHeader);
            font-size: $px12;
            font-style: italic;
            font-weight: bold;
        }
    }
    .recharts-responsive-container{
        tspan, text {
            font-size: $px16;
        }
    }
    .recharts-legend-wrapper{
        span{
            font-size: $px16;
        }
    }
    h2{
        font-size: $px28;
    }
}


.local-noti {
    .ant-list-item {
        justify-content: normal;
    }
}

.recharts-legend-wrapper {
    position: relative !important
}

// customize tooltip for barcharts
.custom-tooltip {
    background-color: #FFFFFF;
    border-radius: $px4;
    padding: $px16 $px16 $px8 $px16;
    font-size: $px14;
    color: gray;
    // color: $cool-gray-700;
    position: relative;
    border: none;

    .label {
        text-align: center;
    }

    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: $px10 solid transparent;
        border-bottom: $px10 solid transparent;
        border-right: $px10 solid #FFFFFF;
        // border: none;
        top: 50%;
        transform: translateY(-50%);
        left: -$px10;
    }
}

// .home-innerinfo {
//     max-height: 50px;
//     overflow-y: scroll;
// }

.hederBarChart .recharts-surface {
    width: $px160 !important;
}

.spanChart .tspan {
    width: $px30;
}
