.home-page-info{
    .ant-upload.ant-upload-select,
    .ant-upload-list-item-container{
        width: 100% !important;
        height: $px200 !important;
    }
    .avic-form {
        .ant-form-item-label {
            width: $px150;
            text-align: left;
        }

        .form-btn-container {
            padding-top: $px40;
            display: flex;
            justify-content: center;
        }
    }
}