.main-layout {
  height: 100vh;
  overflow: hidden;
  >.ant-layout-content {
    overflow-y: auto;
  }

  .ant-layout-header {
    background: transparent;
    height: $px90;
    padding: $px15;
    .main-header {
      background: var(--bgColorHeader);
      border-radius: $px10;
      box-shadow: 0 0 $px15 rgba(0, 0, 0, 0.1);
      line-height: $px60;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $px15;

      .page-title {
        color: var(--sidebarContentTextColor2);
        font-size: $px26;
        font-weight: 600;
      }
    }
  }
  .ant-breadcrumb {
    padding: 0 $px15;
    margin-bottom: $px15;
  }

  .main-layout-background {
    padding: 0 $px15 $px15 $px15;
  }
}