.sidebar-container {
  &.ant-layout-sider{
    width: $sidebarContainerWidth!important;
    flex: unset!important;
    max-width: unset!important;
    background: var(--bgColorMain);
    padding: $px15 0 $px15 $px15;
    min-width: unset!important;
    min-height: 100vh;
    align-self: flex-start;
  }

  .ant-layout-sider-children {
    background: var(--sidebarContentBg);
    border-radius: $px15;
    .sidebar-box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: calc(100vh - #{$px30});

      .sidebar-footer {
        padding: $px20;
        position: absolute;
        bottom: $px4;
        a {
          display: block;
        }
        .timezone-box {
          background: rgba(255, 255, 255, 0.05);
          border-radius: $px15;
          margin-bottom: $px12;
          padding: $px15 0;
          .ant-image-img {
            width: $px50;
            border-radius: $px5;
            margin-bottom: $px5;
          }
          .time-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .time-detail-city {
            font-size: $px18;
            line-height: $px22;
            font-weight: 400;
            color: var(--dashboardTextColor1);
          }
          .time-detail-clock {
            font-size: $px16;
            line-height: $px20;
            font-weight: 600;
            color: var(--dashboardTextColor1);
            span {
              font-size: $px12;
            }
          }
          .time-detail-date {
            font-size: $px12;
            line-height: $px16;
            font-weight: 400;
            color: var(--dashboardTextColor1);
          }
        }

        .system-info-box {
          background: rgba(255, 255, 255, 0.05);
          border-radius: $px15;
          padding: $px15 $px10;
          display: flex;
          align-items: center;
          .logo-system {
            height: $px50;
            width: auto;
            padding-right: $px5;
          }
          .system-info-title {
            font-size: $px12;
            line-height: $px16;
            font-weight: 500;
            color: var(--dashboardTextColor1);
            text-transform: uppercase;
          }
        }
      }

      .sidebar-content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$px275});
        .collapse-icon {
          position: absolute;
          right: 0;
          top: $px15;
          cursor: pointer;

          svg {
            width: $px18;
          }
        }

        .logo {
          display: flex;
          justify-content: center;
          padding-top: $px20;
          padding-bottom: $px20;
          svg {
            width: $px50;
            height: auto;
          }
        }
        .menu-settings {
          display: flex;
          justify-content: flex-end;
          padding-right: $px15;
          padding-bottom: $px10;
          svg {
            width: $px18;
            cursor: pointer;
            path {
              fill: var(--sidebarContentTextColor1);
            }
          }
        }
        .menu-wrapper{
          flex: 1;
          overflow-y: auto;
          /* width */
          &::-webkit-scrollbar {
            width: $px7;
            height: $px7;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: var(--sidebarContentBg);
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #f1f1f1;
            border-radius: $px3;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #f1f1f1ea;
            cursor: pointer;
          }
        }
        .ant-menu {
          background: transparent;
          color: var(--sidebarContentTextColor3);
          &.ant-menu-root {
            padding-left: $px10;
            padding-bottom: $px20;
            padding-top: $px16;
            >.ant-menu-item {
              padding-left: $px15 !important;
            }
          }
          svg {
            width: $px18;
            height: auto;
            path {
              fill: var(--sidebarContentTextColor3);
            }
          }

          //highlight when submenu selected
          .ant-menu-submenu-selected {
            .ant-menu {
              color: var(--sidebarContentTextColor1);
            }
            svg {
              path {
                fill: var(--sidebarContentTextColor1);
              }
            }
          }

          .ant-menu-item:not(.ant-menu-item-selected):active {
            background: transparent;
          }
          .ant-menu-submenu-title:active {
            background: transparent;
          }

          .ant-menu-title-content {
            font-size: $px14;
            line-height: $px16;
            font-weight: 500;
          }

          .ant-menu-item {
            width: 100%;
            margin: 0;
            height: $px45;
            border-radius: 0;
            border-top-left-radius: calc(#{$px45}*0.5);
            border-bottom-left-radius: calc(#{$px45}*0.5);
            position: relative;
            overflow: initial;
            transition: unset;
            &:before {
              content: '';
              position: absolute;
              top: -$px10;
              right: 0;
              display: block;
              width: $px10;
              height: $px10;
              transform: unset!important;
              opacity: unset!important;
            }
            &:after {
              content: '';
              position: absolute;
              top: calc(100% - #{$px1});
              right: 0;
              display: block;
              width: $px10;
              height: $px10;
              transform: unset!important;
              opacity: unset!important;
            }
            &:hover {
              background: var(--bgColorMainHover) !important;
              color: var(--sidebarContentTextColor1);
              &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.83 0C11.8247 2.98022 10.637 5.83656 8.52783 7.94202C6.41862 10.0475 3.56018 11.23 0.579956 11.23H11.83V0Z' fill='%2344434cad'/%3E%3C/svg%3E%0A");
              }
              &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.83 11.45C11.8247 8.47069 10.6367 5.61537 8.52722 3.51149C6.41772 1.40762 3.55926 0.22733 0.579956 0.229985H11.83V11.45Z' fill='%2344434cad'/%3E%3C/svg%3E%0A");
              }
              svg {
                path {
                  fill: var(--sidebarContentTextColor1);
                }
              }
            }

            &:focus,
            &:visited,
            &:active,
            &.ant-menu-item-selected {
              z-index: 9;
              background: var(--bgColorMain) !important;
              color: var(--sidebarContentTextColor2);
              &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.83 0C11.8247 2.98022 10.637 5.83656 8.52783 7.94202C6.41862 10.0475 3.56018 11.23 0.579956 11.23H11.83V0Z' fill='%23f5f6f8'/%3E%3C/svg%3E%0A");
              }
              &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.83 11.45C11.8247 8.47069 10.6367 5.61537 8.52722 3.51149C6.41772 1.40762 3.55926 0.22733 0.579956 0.229985H11.83V11.45Z' fill='%23f5f6f8'/%3E%3C/svg%3E%0A");
              }
              svg {
                path {
                  fill: var(--sidebarContentTextColor2);
                }
              }
            }
          }

          .ant-menu-submenu {
            .ant-menu-item {
              padding-left: $px43!important;
            }
            .ant-menu-submenu-title {
              width: 100%;
              height: $px45;
              padding-left: $px15!important;
              border-radius: 0;
              border-top-left-radius: calc(#{$px45}*0.5);
              border-bottom-left-radius: calc(#{$px45}*0.5);
              margin: 0;
              position: relative;
              overflow: initial;
              transition: unset;
              &:before {
                content: '';
                position: absolute;
                top: -$px10;
                right: 0;
                display: block;
                width: $px10;
                height: $px10;
                transform: unset!important;
                opacity: unset!important;
              }
              &:after {
                content: '';
                position: absolute;
                top: calc(100% - #{$px1});
                right: 0;
                display: block;
                width: $px10;
                height: $px10;
                transform: unset!important;
                opacity: unset!important;
              }
              &:hover {
                background: var(--bgColorMainHover) !important;
                color: var(--sidebarContentTextColor1);
                &:before {
                  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.83 0C11.8247 2.98022 10.637 5.83656 8.52783 7.94202C6.41862 10.0475 3.56018 11.23 0.579956 11.23H11.83V0Z' fill='%2344434cad'/%3E%3C/svg%3E%0A");
                }
                &:after {
                  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.83 11.45C11.8247 8.47069 10.6367 5.61537 8.52722 3.51149C6.41772 1.40762 3.55926 0.22733 0.579956 0.229985H11.83V11.45Z' fill='%2344434cad'/%3E%3C/svg%3E%0A");
                }
                svg {
                  path {
                    fill: var(--sidebarContentTextColor1);
                  }
                }
              }

            }
          }
        }
      }
    }
  }

  //  collapse //
  &.ant-layout-sider-collapsed {
    width: $sidebarContainerWidthCollapse!important;

    .logo {
      padding-top: $px20!important;
      svg {
        width: $px28 !important;
        height: auto;
      }
    }

    .menu-settings {
      justify-content: center!important;
      padding-right: 0!important;
    }

    .ant-layout-sider-children {
      .sidebar-box {
        .sidebar-content {
          .ant-menu {
            //padding-left: 0!important;
            //padding-top: $px10;
            padding: $px10 $px10 0 $px10!important;
            .ant-menu-submenu {
              .ant-menu-submenu-title {
                width: 100%;
                border-radius: $px10!important;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0!important;
                .ant-menu-title-content {
                  display: none;
                }
                &:before {
                  display: none;
                }
                &:after {
                  display: none;
                }
              }
            }
            .ant-menu-item {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              //border-radius: 0!important;
              border-radius: $px10!important;
              margin: 0;
              padding: 0!important;
              .ant-menu-title-content {
                display: none;
              }
              &:before {
                display: none;
              }
              &:after {
                display: none;
              }
            }

          }
        }
      }
    }

    .sidebar-footer {
      padding: $px15 0!important;

      .timezone-box {
        display: none!important;
      }
      .system-info-box {
        display: none!important;
      }
    }

  }
}

.un-collapse-icon {
  cursor: pointer;
  text-align: center;
  font-size: $px20;
  color: var(--sidebarContentTextColor1);
  padding-top: $px15;
}

.ant-menu  {
  .ant-menu-sub {
    .ant-menu-item {
      &.ant-menu-item-selected {
        background: var(--sidebarContentBg);
      }
      &:hover {
        background: var(--sidebarContentBg);
      }
      &:active {
        background: var(--sidebarContentBg);
      }
    }
  }
}